<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Classes</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<link rel="stylesheet" type="text/css" href="{% static 'css/class/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/class/main.css' %}">
</head>
<body>
		<header>
				<div class="wrapper">
					<nav>
						<ul class="main_nav">
								<li><a href="{% url 'business:mClass' %}">Back</a></li>
							<li><a href="/business/update/{{list.class_id}}">Update Class</a></li>
							<li><a href="/business/delete/{{list.class_id}}">Delete Class</a></li>
						</ul>
					</nav>
				</div>
			</header><!-- Header End -->
	<h2><center>Class Details</center></h2>		
	<section class="main wrapper">
		<article>
			<div class="post">
				<h1 class="title">
						Class Name      : {{list.class_name}}<br>   
				</h1>
				Course Duration : {{list.corse_duration}}<br>
				Start Date      : {{list.start_date}}<br>
				End Date        : {{list.end_date}}<br>
				Address         : {{list.class_location}}<br>
				Room Number     : {{list.allocated_room}}<br>
				Instructor      : {{list.instructor}}<br>
				Description     : {{list.description}}
				
			</div>
		</article>
	</section>
</body>
</html>
