{% extends 'business/dashboard/base.html'%}
{% load static %}

{% block nav %}
<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			  <p>
				  options
				  <b class="caret"></b>
			  </p>

		</a>
		<ul class="dropdown-menu">
		  <li><a href="/business/clone/{{list.class_id}}">Clone class</a></li>
		</ul>
  </li>
{% endblock %}
{% block body %}


	<section class="main wrapper">
		<article>
			<div class="post thumbnail">
				<h3 class="title ">
						{{list.class_name_variable}}      : {{list.class_name}}<br>   
				</h3>
				<ul class="list-group">
				<li class="list-group-item">Course Duration                          : {{list.corse_duration}}</li>
				<li class="list-group-item">{{list.start_date_variable}}             : {{list.start_date}}</li>
				<li class="list-group-item">{{list.end_date_variable}}               : {{list.end_date}}</li>
				<li class="list-group-item">{{list.class_location_variable}}         : {{list.class_location}}</li>
				<li class="list-group-item">{{list.allocated_room_variable}}         : {{list.allocated_room}}</li>
				<li class="list-group-item">{{list.instructor_variable}}             : {{list.instructor}}</li>
				<li class="list-group-item">{{list.description_variable}}            : {{list.description}}</li>
			</ul>
			</div>
			<!-- Button trigger modal -->

  

		</article>
			<section class="main wrapper">
		<article>
			<div class="post thumbnail">
				<h3 class="title ">
						{{list.class_name_variable}}      : {{list.class_name}}<br>   
				</h3>
				<ul class="list-group">
				<li class="list-group-item">Course Duration                          : {{list.corse_duration}}</li>
				<li class="list-group-item">{{list.start_date_variable}}             : {{list.start_date}}</li>
				<li class="list-group-item">{{list.end_date_variable}}               : {{list.end_date}}</li>
				<li class="list-group-item">{{list.class_location_variable}}         : {{list.class_location}}</li>
				<li class="list-group-item">{{list.allocated_room_variable}}         : {{list.allocated_room}}</li>
				<li class="list-group-item">{{list.instructor_variable}}             : {{list.instructor}}</li>
				<li class="list-group-item">{{list.description_variable}}            : {{list.description}}</li>
			</ul>
			</div>
			<!-- Button trigger modal -->

  

		</article>
	</section>

	</section>
	

{% endblock %}

