{% extends 'business/dashboard/base.html'%}
{% load static %}

{% block style %}
#p2{
margin-top:-25px !important;
margin-bottom:-25px !important;
}

{% endblock %}


{% block nav-left %}
<form class="navbar-form navbar-left" role="search" action="{% url 'business:msearch' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group" id="p2">
                                          <input type="text" class="form-control" name="qname" placeholder="Enter Instructor Name" id="p3">
                                    <button class="icon"><i class="fa fa-search"></i></button>
                                    </div>
                            </form>

{% endblock %}

{% block nav %}
	<li>
	<a href="{% url 'business:addInstructor' %}">
		<p>Add Instructor</p>
	</a>
</li>
{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
                <div class="">
                
                        <div class="container" id='available'>
                                {% for i in list %}
                                    <div class="thumbnail well well-lg">
                                        <a href="/business/instructordetails/{{i.instructor_id}}"><h3>{{i.first_name}} {{i.middle_name}} {{i.last_name}}</h3></a><br>
                                        <h5>address:{{ i.address }}</h5>
                                        <h5>telephone number:{{ i.telephone }}</h5>
                                    </div>
                                {% endfor %} 
                                
                        </div>
                    </div>
        </div>
    </div>
</div>
{% endblock %}