<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
          #godown{
   padding: 60px;
}
    </style>
    </head>

    <body>

            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
                    <div class="container">
                            <form class="navbar-form navbar-left" role="search" action="{% url 'business:search' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <input type="text" class="form-control" name="qname" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                    <li><a class="btn btn-default" href="{% url 'business:dashboard' %}">back</a></li>
                                    <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                      <ul class="dropdown-menu">
                                        <li><a href="{% url 'business:logout' %}">LogOut</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                    </div>
                  </nav>
        <div class="container" id="godown">
                {% for key,values in list.items %}
                    <div class="thumbnail">
                       <p id="{key.class_name}}" class="toggle">{{key.class_name}}
                        <div class="conatiner toggle"   >
                            <ul class="list-group">
                                {% for j in values %}
                               <a href="/business/sDetails/{{j.student.student_id}}/{{key.class_id}}"> <li class="list-group-item list-group-item-success">{{j.username}}</li></a>
                                {%endfor%}
                            </ul>
                        </div>
                    </p>
                    </div>
                {% endfor %}
        </div>
        <script src="{% static 'js/dashboard/jquery.js'%}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script type="text/javascript">
        
         $("p.toggle").click(function(e){
            e.preventDefault();
        $(this).next("div").toggle();
            });
        </script>
    </body>
</html>